<div class="home">
    <header class="navbar navbar-dark">
        <div class="buttons">
            <button (click)="goBack()" data-testid="top-bar-back-button" aria-hidden="true" class="top-bar-back-button"
                title="Volver">
                <svg role="img" focusable="false" height="24" width="24" viewBox="0 0 24 24">
                    <polyline points="16 4 7 12 16 20" fill="white" stroke="#181818"></polyline>
                </svg>
            </button>
        </div>
        <div class="buttons float-right">
            <a href="https://accounts.spotify.com/es-ES/login" class="register-button">Registrate</a>
            <a href="https://www.spotify.com/co/signup/" class="login-button">Iniciar Sesión </a>
        </div>
    </header>
</div>